bqplot
imageio
ipydatetime
ipykernel
ipython
ipython-genutils
ipywidgets
json5
jupyter-lsp
jupyter-server
jupyter_client
jupyter_server_terminals
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
matplotlib
matplotlib-inline
nbclient
nbinteract
pandas
panel
Pillow
plotly
python-dateutil
seaborn
traitlets
traittypes
triton
typing_extensions
voila
widgetsnbextension
