bqplot==0.11.0
imageio==2.26.0
ipydatetime==1.2.0
ipykernel==6.4.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.2
json5==0.9.10
jupyter-events==0.6.3
jupyter-lsp==2.2.0
jupyter-server==1.24.0
jupyter_client==7.4.1
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.23.0
matplotlib==3.6.2
matplotlib-inline==0.1.6
nbclient==0.7.2
nbinteract==0.2.6
pandas==1.5.2
Pillow==10.0.0
plotly==5.11.0
python-dateutil==2.8.2
seaborn==0.12.1
traitlets==5.9.0
traittypes==0.2.1
triton==2.0.0
typing_extensions==4.6.3
voila==0.4.0
widgetsnbextension==3.6.1
